<%- include("../../views/partials/admin/header") %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-60">
      <% if (typeof error !== 'undefined') { %>
      <div class="alert alert-danger"><%= error %></div>
      <% } %>
      <form method="post" action="/admin/editCategory/<%= category._id  %>">
        <div class="d-grid text-end mt-30 col-md-5">
          <button class="btn btn-primary" type="submit">Update category</button>
        </div>
        <div class="mb-4 mt-30">
          <label for="product_name" class="form-label">Name</label>
          <input
            type="text"
            name="categoryName"
            value="<%= category.name  %>"
            class="form-control border"
          />
        </div>

        <div class="mb-4">
          <label class="form-label">Description</label>
          <textarea name="description" class="form-control border">
<%= category.description  %></textarea
          >
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector("form");
    const categoryNameInput = document.querySelector(
      'input[name="categoryName"]'
    );
    const descriptionTextarea = document.querySelector(
      'textarea[name="description"]'
    );

    form.addEventListener("submit", function (event) {
      let isValid = true;

      clearErrorMessages();

      const categoryName = categoryNameInput.value.trim();
      if (categoryName === "") {
        displayErrorMessage(categoryNameInput, "Category name is required");
        isValid = false;
      } else if (!/^[a-zA-Z\s]+$/i.test(categoryName)) {
        displayErrorMessage(
          categoryNameInput,
          "Category name should only contain alphabetic characters and spaces"
        );
        isValid = false;
      }

      const description = descriptionTextarea.value.trim();
      if (description === "") {
        displayErrorMessage(descriptionTextarea, "Description is required");
        isValid = false;
      }

      if (!isValid) {
        event.preventDefault();
      }
    });

    function displayErrorMessage(element, message) {
      const errorDiv = document.createElement("div");
      errorDiv.className = "error-message text-danger mt-2";
      errorDiv.textContent = message;
      element.parentNode.appendChild(errorDiv);
    }

    function clearErrorMessages() {
      const errorMessages = document.querySelectorAll(".error-message");
      errorMessages.forEach((error) => error.remove());
    }
  });
</script>

<%- include("../../views/partials/admin/footer") %>
