<%- include("../../views/partials/user/header") %>
<!-- Header Section End -->
 

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>Shop</h4>
          <div class="breadcrumb__links">
            <a href="/">Home</a>
            <span>Shop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="shop__product__option__right" style="float: right; margin-bottom: 20px;">
          <p>Sort by:</p>
          <select name="sort" form="filter-form">
            <option value="new_arrivals" <%= sort === 'new_arrivals' ? 'selected' : '' %>>New Arrivals</option>
            <option value="price_low_to_high" <%= sort === 'price_low_to_high' ? 'selected' : '' %>>Price: Low to High</option>
            <option value="price_high_to_low" <%= sort === 'price_high_to_low' ? 'selected' : '' %>>Price: High to Low</option>
            <option value="a_to_z" <%= sort === 'a_to_z' ? 'selected' : '' %>>A-Z</option>
            <option value="z_to_a" <%= sort === 'z_to_a' ? 'selected' : '' %>>Z-A</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      
      <div class="col-lg-3">
        <form action="/shop" method="GET" id="filter-form">
          <div class="shop__sidebar">
            <div class="shop__sidebar__search">
              <input type="text" name="search" placeholder="Search..." value="<%= searchQuery || '' %>">
              <button type="submit"><span class="icon_search"></span></button>
            </div>
            
            <div class="shop__sidebar__accordion">
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseOne">CATEGORIES</a>
                  </div>
                  <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="shop__sidebar__categories">
                        <ul>
                          <li>
                            <input type="radio" id="all-categories" name="category" value="" <%= !categoryFilter ? 'checked' : '' %>>
                            <label for="all-categories">All Categories</label>
                          </li>
                          <% categories.forEach(category => { %>
                            <li>
                              <input type="radio" id="<%= category._id %>" name="category" value="<%= category._id %>" <%= categoryFilter === category._id.toString() ? 'checked' : '' %>>
                              <label for="<%= category._id %>"><%= category.name %></label>
                            </li>
                          <% }) %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="shop__sidebar__filter">
              <label>
                <input type="checkbox" name="stock" value="true" <%= stockFilter ? 'checked' : '' %>>
                Show Only In-Stock Products
              </label>
            </div>
            
            <button type="submit" class="apply-filters-btn">Apply Filters</button>
          </div>
        </form>
      </div>
      
      
      <div class="col-lg-9">
        <div class="row">
          <% products.forEach(product => { %>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item <%= product.salePrice < product.regularPrice ? 'sale' : '' %>">
              <div class="product__item__pic set-bg" data-setbg="/uploads/re-image/<%= product.productImage[0] %>">
                <ul class="product__hover">
                  <li>
                    <a href="#"><img src="/img/icon/heart.png" alt="" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="/img/icon/compare.png" alt="" /><span>Compare</span></a>
                  </li>
                  <li>
                    <a href="#"><img src="/img/icon/search.png" alt="" /></a>
                  </li>
                </ul>
              </div>
              <div class="product__item__text">
                <h6>
                  <a href="/product/<%= product._id %>"><%= product.productName %></a>
                </h6>
                <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="product__price">
                  $<%= product.salePrice.toFixed(2) %> 
                  <% if (product.salePrice < product.regularPrice) { %>
                    <span><del>$<%= product.regularPrice.toFixed(2) %></del></span>
                  <% } %>
                </div>
                <% if (product.quantity === 0) { %>
                  Out of Stock
                <% } else { %>
                  In Stock: <%= product.quantity %>
                <% } %>
              </div>
            </div>
          </div>
          <% }) %>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="product__pagination">
              <% if (currentPage > 1) { %>
              <a href="?page=<%= currentPage - 1 %>"
                ><i class="fa fa-long-arrow-left"></i
              ></a>
              <% } %> <% for (let i = 1; i <= totalPages; i++) { %> <% if (i ===
              currentPage) { %>
              <span class="current-page"><%= i %></span>
              <% } else { %>
              <a href="?page=<%= i %>"><%= i %></a>
              <% } %> <% } %> <% if (currentPage < totalPages) { %>
              <a href="?page=<%= currentPage + 1 %>"
                ><i class="fa fa-long-arrow-right"></i
              ></a>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Shop Section End -->

<%- include("../../views/partials/user/footer") %>
<!-- Footer Section End -->

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('#filter-form');
    const sortSelect = document.querySelector('#sort-select');

    
    const filterInputs = form.querySelectorAll('input[type="radio"], input[type="checkbox"]');
    filterInputs.forEach(input => {
      input.removeEventListener('change', () => form.submit());
    });

    
    sortSelect.addEventListener('change', () => form.submit());

  
    const applyFiltersBtn = document.querySelector('.apply-filters-btn');
    applyFiltersBtn.addEventListener('click', (e) => {
      e.preventDefault();
      form.submit();
    });
  });
 
</script>
